@font-face {
	font-family: 'Jenine';
	src: url(../../assets/fonts/ArbFONTS-Jenine-Regular.woff) format('woff'),
	url(../../assets/fonts/ArbFONTS-Jenine-Regular.woff2) format('woff2'),
	url(../../assets/fonts/ArbFONTS-Jenine-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/ArbFONTS-Jenine-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/ArbFONTS-Jenine-Regular.otf) format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}