.swiper {
  height: 700px;
}

.swiper-button {
  text-shadow: 0px 0px 5px black;
  color: white;
}

.swiper .swiper-slide {
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .swiper .swiper-slide {
    height: 403px;
  }
}

@media (max-width:767px) {
  .swiper {
    height: 400px;
  }
}

